<h1>Recipe Search results for: "<%= @search_term %>"</h1>

<table border ="1">
  <tr>
    <th>Title</<th>
    <th>Title</<th>
    <th>Title</<th>
  </tr>
  <% @recipes_list.each do |recipe| %>
    <tr class=<%= cycle('even', 'odd') %>>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
</table>

<p>Powered By Food2Fork.com</p>
